$fontSystem: #{'-apple-system', 'system-ui', 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'};
$fontMono: #{SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
  monospace};
$fontSerif: #{Georgia, Cambria, 'Times New Roman', Times, serif};
$fontSans: #{'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva,
  Arial, sans-serif};

$colorOffline: #bd0e0e;
$colorOnline: #32cd32;
$colorUnknown: #454545;

$colorText: #cecece;
$colorTextSecondary: #8b8b8b;
$colorBg: #1c1c1c;
